doctype html
html
  head
    meta(charset='utf-8')
    title V3...
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='styles/main.css')
  body
    .container
      .red COGS.RED v3
      .description This is going to be awesome!
      a.button(href="https://patreon.com/orels1" target="_blank") 
        .text Get Involved
        .hidden

    script(src='scripts/main.js')
