version: 2
general:
  branches:
    only:
      - /feature\/.*/

jobs:
  build:
    docker:
      - image: circleci/node:9.2

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
        keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          keys: v1-dependencies-{{ checksum "package.json" }}

      - run: yarn test

      - run: yarn build
