defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:9.2

version: 2
general:
  branches:
    only:
      - master
      - develop
      - /release\/.*/
      - /feature\/.*/
      - /hotfix\/.*/

jobs:
  checkout_code:
    <<: *defaults
    steps:
      - checkout
      - persist_to_workspace:
          root: ./
          paths:
            - ./
  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ./

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: yarn test
 
  build:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ./

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: yarn build

      - persist_to_workspace:
          root: ./
          paths:
            - ./
    
  deploy-dev:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ./

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run: docker build -q -f dev.Dockerfile -t orels1/v3.cogs.red:alpha-$CIRCLE_SHA1 .
      - run: docker push orels1/v3.cogs.red:alpha-$CIRCLE_SHA1

workflows:
  version: 2
  test_and_build:
    jobs:
      - checkout_code
      - test:
          requires:
            - checkout_code
      - build:
          requires:
            - checkout_code
      - deploy-dev:
          requires:
            - build
          filters:
            branches:
                only: development

